<div id="app">
    <v-app id="inspire">
      <v-container>
        <div class="d-flex flex-column justify-space-between align-center">
          <v-img
              width="360"
              src="/static/images/.png"
          ></v-img>
        </div>
        <v-row justify="center">
          <v-col
              cols="12"
              sm="10"
              md="8"
              lg="6"
          >
            <v-card>
              <v-form
                  ref="form"
                  v-model="valid"
                  lazy-validation
              >
                <v-card-text>
                  <v-text-field
                      dense
                      outlined
                      clearable
                      v-model="formElement.name"
                      :rules="validOther"
                      label="ชื่อผู้ติดต่อ"
                      required
                  ></v-text-field>

                  <v-text-field
                      dense
                      outlined
                      clearable
                      v-model="formElement.company"
                      :rules="validOther"
                      label="บริษัท"
                      required
                  ></v-text-field>

                  <v-text-field
                      dense
                      outlined
                      clearable
                      v-model="formElement.email"
                      :rules="validEmail"
                      label="อีเมล"
                      required
                  ></v-text-field>

                  <v-select
                      dense
                      outlined
                      clearable
                      v-model="formElement.other"
                      :items="products"
                      label="ผลิตภัณฑ์อื่นๆที่ท่านสนใจ"
                      required
                  ></v-select>


                  <v-text-field
                      dense
                      outlined
                      clearable
                      v-model="formElement.tel"
                      :rules="validTel"
                      label="เบอร์ที่สะดวกให้เจ้าหน้าที่ติดต่อกลับ"
                      type="tel"
                      required
                  ></v-text-field>

                  <v-textarea
                      dense
                      outlined
                      v-model="formElement.message"
                      clearable
                      autocomplete
                      label="ข้อมูลที่ท่านต้องการทราบเพิ่มเติม"
                  ></v-textarea>
                  <v-card-actions>
                    <v-btn block
                           :disabled="!valid"
                           :loading="!spinBtn"
                           color="success"
                           class="mr-4"
                           @click="onSubmit"
                    >
                      ยืนยัน
                    </v-btn>
                  </v-card-actions>
                </v-card-text>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
  
  
  <script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
        products: ['Construction', 'Project Planning', 'CSM', 'QCM', 'Maintenance', 'Rental', 'MRP'],
        validCheck: [v => !!v || 'กรุณาคลิกเพื่อไปต่อ'],
        validSelect: [v => !!v || 'กรุณาเลือกผลิตภัณฑ์'],
        validEmail: [
            v => !!v || 'กรุณากรอกอีเมล',
            v => /.+@.+\..+/.test(v) || 'กรุณากรอกอีเมลให้ถูกต้อง',
        ],
        validTel: [
            v => !!v || 'กรุณากรอกเบอร์โทร',
            v => (v && v.length <= 10) || 'เบอร์โทรกรอกไม่ครบ',
        ],
        validOther: [v => !!v || 'กรุณากรอกข้อมูลให้ครบถ้วน'],
        formElement: {
            name: '',
            email: '',
            company: '',
            tel: '',
            product: 'RealEstate',
            other: '',
            message: '',
            userId: '',
            email_private: '',
            profile: '',
            picture: '',
            channel: 'LINE'
        },
        valid: false,
        spinBtn: true,
    },
    delimiters: ["[[", "]]"],
    created() {

        liff.init({liffId: 'token lineliff'}, () => {
                if (liff.isLoggedIn()) {
                    liff.getProfile()
                        .then((profile) => {
                            console.log(liff.getContext());
                            this.formElement.userId = profile.userId
                            this.formElement.profile = profile.displayName
                            this.formElement.picture = profile.pictureUrl
                            this.formElement.email_private = liff.getDecodedIDToken().email
                        })
                }
                else {
                    liff.login();
                }
            }
        )
    },
    methods: {
        onSubmit() {
            let validate = this.$refs.form.validate()
            if (validate === true) {
                this.spinBtn = false
                const path = '/api/'
                axios.post(path, this.formElement)
                    .then(() => {
                        this.spinBtn = true
                        this.popUp()
                        this.$refs.form.reset()
                    })
                    .catch((err) => {
                        this.spinBtn = true
                        console.error(err)
                        Swal.fire("มีบางอย่างผิดพลาด", "กรุณาลองใหม่อีกครั้งค่ะ", "error").then(() => {
                            liff.closeWindow();
                        })
                    })
            }
        },
        popUp() {
            Swal.fire("ข้อมูลบันทึกเรียบร้อย!", "เจ้าหน้าที่ได้รับข้อมูลของท่านแล้ว\nและจะดำเนินการติดต่อกลับให้เร็วที่สุด", "success").then(() => {
                liff.closeWindow();
            })
        },
    }
})
  </script>
